



                                                            /* 全部订单 */
.order{
    padding: 0 10px 10px;
    border-bottom: 1px solid #f6f6f6;
    overflow: hidden;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.order-info{
    overflow: hidden;
    border-bottom: 1px solid #f6f6f6;
}
.order-info:last-child{
    border-bottom: none;
}
.c-img{
    float: left;
    padding: 10px;
    width: 20%;
}
.c-img img{
    width: 100%;
    border-radius: 6px;
}
.order-num{
    float: right;
    padding: 10px;
    width: 70%;
    padding-left: 0;
}

