

html,body{
    font-family: "Yuanti SC","Lantinghei SC","Microsoft Yahei","SimHei";
    margin: 0;
    height: 100%;
    color: #333;
    font-weight: 300!important;
    /*height: 100%;*/
    background-size: cover;
    padding-right: 0;
    /*overflow: scroll;*/
    -webkit-overflow-scrolling: touch;
    background:none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
.main-container::-webkit-scrollbar{
    display: none;
    width: 0!important;
    height: 0!important;
    background-color: transparent;
}
/*::-webkit-scrollbar{ background-color:transparent; }*/
body{
    background: url("../img/bg.jpg");
}
.main-container{
    /*height: 100%;*/
    padding: 20px;
    /*overflow: scroll;*/
    /*-webkit-overflow-scrolling: touch;*/
}


                                            /* logo */

.logo{
    text-align: center;
    margin-bottom: 15px;
}
.logo img{
    width: 100px;
}




.wrapper{
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 6px;
}



/* 小助手 */
.service{
    display: block;
    position: absolute;
    top: 10px;
    left: -22px;
    width: 57px;
    height: 38px;
    padding: 0px 24px;
    border-radius: 0 20px 20px 0;
    color: #8daffb;
    background-color: #fff;
    box-shadow: 0 0 10px 0 #4473cc;
    transition: 0.4s all cubic-bezier(0.68,-0.55,0.27,0.55);

}

.service i{
    font-size: 30px;
}
.s-row{
    position: relative;
}


/* 第一层模态框 */
.xzs-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-xzs, .icon-qa, .icon-ph{
    background-image: url(../img/sprite.png);
    width: 40px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}
.icon-xzs{
    background-position: -17px 0px;
}
.ml{
    margin-left: -10px;
}

.qa-flex{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f4f5f5;
    padding: 10px 15px;
}
/* 问答 */
.icon-qa{
    margin-left: -22px;
    margin-right: 8px;
    background-position: 22px 3px;
}

/* 电话 */
.icon-ph{
    margin-left: -22px;
    margin-right: 8px;
    background-position: 22px -16px;
}
.s-arrow{
    width: 5px;
    height: 5px;
    border-top: 1px solid #8daffb;
    border-right: 1px solid #8daffb;
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 15px;
}

/* 第二层模态框 */
.q-row,.qs-row{
    position: relative;
    border-bottom: 1px solid #f4f5f5;
    padding: 10px 15px;
}
.qs-row a{
    display: block;
}

.qs-row a,.qs-row a:link,.qs-row a:visited,.qs-row a:hover,.qs-row a:active{
    color: #8daffb;
}


/* 第三层模态框 */
.a-row{
    /* position: relative; */
    /* border-bottom: 1px solid #f4f5f5; */
    padding: 10px 15px;
}
.answer{
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
}
.evaluate{
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 15px;
    overflow: hidden;
}
.btn-l,.btn-r{
    width: 130px;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    font-size: 12px;
}

.btn-l,.btn-l:link,.btn-l:visited,.btn-l:hover,.btn-l:active{
    color: #fff;
    background: #5b85f9;
}
.btn-r,.btn-r:link,.btn-r:visited,.btn-r:hover,.btn-r:active{
    color: #5b85f9;
    background: #fff;
}
a:link,a:visited,a:hover,a:active{
    text-decoration: none;
}

.m-arrow {
    width: 8px;
    height: 8px;
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
    transform: rotate(-45deg);
    display: inline-block;
    position: absolute;
    top: 18px;
    left: 15px;
}



/* 模态框 */
.modal-content {
    height: 400px;
    width: 310px;
    margin: 60px auto;
}
.close{
    font-size: 1px;
    color: #5a5a5a;
    outline: none;
}
.modal-header {
    border-bottom: 1px solid #f4f5f5;
}
.modal-body{
    padding: 0;
}

.fl{
    float: left;
}

.fr{
    float: right;
}


.sm-hide{
    display: none;
}




/* 蓝色系的字体颜色 */
.b-color{
    color: #8daffb;
    font-size: 12px;
}
/* 灰色系的字体颜色 */
.g-color{
    color: #929cb2;
    font-size: 12px;
}



                                                        /* footer */
.solog{
    font-size: 12px;
    text-align: center;
    color: #98afff;
    margin: 30px 0 20px 0;
}