
.main-container{
    height: calc(100% + 340px);
}


                                            /* 订单状态 */
.order{
    padding: 0 10px 10px;
    border-bottom: 1px solid #f6f6f6;
    overflow: hidden;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.order-info{
    overflow: hidden;
    border-bottom: 1px solid #f6f6f6;
}
.order-info:last-child{
    border-bottom: none;
}
.c-img{
    float: left;
    padding: 10px;
    /* width: 12%; */
    width: 20%;
}
.c-img img{
    width: 100%;
    border-radius: 6px;
}
.order-num{
    float: right;
    padding: 10px;
    width: 70%;
    padding-left: 0;
}
.order-num .num{
    margin-bottom: 6px;
}

                                            /* 价格结算 */
.name{
    padding: 0 10px 10px;
    border-bottom: 1px solid #f6f6f6;
    /* position: relative; */
}

.ma-ri{
    margin-right: 20px;
}

.line-active{
    color: #5b85f9;
    padding-bottom: 10px;
    border-bottom: 2px solid #5b85f9;
}

.ov-hi{
    overflow: hidden;
    height: 35px;
    line-height: 35px;
}

.hide{
    display: none;
}
.price{
    padding: 10px 10px 0;
    border-bottom: 1px solid #f6f6f6;
}
.cancel{
    padding: 20px 10px 10px 0;
    overflow: hidden;
}
.cancel a,.cancel a:link,.cancel a:visited,.cancel a:hover,.cancel a:active{
    color: #5b85f9;
}
/* 支付 */

.pay{
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #5ab6f5;
    /* background: red; */
    bottom: 0;
    /* bottom: 100px; */
    left: 0;
    overflow: hidden;
}
.pay-left,.pay-right{
    display: inline-block;
    height: 100%;
    color: #fff;
    overflow: hidden;
}
.pay-left{
    float: left;
    width: 55%;
    font-size: 12px;
    padding: 0 20px;
    background: #3d4d92;
}
.pay-right{
    float: right;
    text-align: center;
    width: 45%;/*32*/
    font-size: 16px;
    color: #fff;
    background: #5ab6f5;
}
.pay-right a,.pay-right a:link,.pay-right a:visited,.pay-right a:hover,.pay-right a:active{
    color: #fff;
}
.aa{
    display: inline-block;
}
.light{
    color: #979fc0;
}
